$dark-color: hsl(200, 100%, 10%);
$label-color: hsl(200, 100%, 20%);
$light-color: hsl(200, 100%, 85%);
$small: 500px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $light-color;
  color: $dark-color;
  font-family: sans-serif;
  margin: 0;
}

.blurred {
  filter: blur(3px);
  overflow: hidden;
}

.container {
  max-width: 992px;
  margin: auto;
}

.header {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;

  @media screen and (min-width: $small) {
    flex-direction: row;
  }

  &-left {
    border-bottom: 2px solid $dark-color;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    width: 100%;

    @media screen and (min-width: $small) {
      border-right: 2px solid $dark-color;
      border-bottom: none;
      width: 50%;
    }
  }

  &-right {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-around;
    display: grid;
    gap: 0.5rem;
    width: 100%;

    @media screen and (min-width: $small) {
      width: 50%;
    }
  }

  &-current {
    &-temp {
      margin-left: 1rem;
      font-size: 2rem;
    }
  }
}

.weather {
  &-icon {
    object-fit: contain;
    height: 40px;
    width: 40px;

    &.large {
      height: 80px;
      width: 80px;
    }
  }
}

.info-group {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.label {
  color: $label-color;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.6rem;
}

.value {
  small {
    font-weight: lighter;
    font-size: 0.75rem;
  }
}

.day {
  &-section {
    grid-template-columns: repeat(auto-fit, 75px);
    justify-content: center;
    display: grid;
    padding: 1rem;
    gap: 0.75rem;
  }
  &-card {
    border: 1px solid $dark-color;
    flex-direction: column;
    border-radius: 0.25rem;
    align-items: center;
    padding: 0.25rem;
    display: flex;

    &-day {
      color: $label-color;
      font-size: 0.75rem;
      margin-top: 0.5rem;
    }
  }
}

.hour {
  &-section {
    text-align: center;
    border-spacing: 0;
    width: 100%;
  }
  &-row {
    background-color: hsl(200, 60%, 75%);

    &:nth-child(2n) {
      background-color: hsl(200, 60%, 70%);
    }
  }
  & > td {
    padding: 0.25rem 0.5rem;
  }
}
